body{
    background: #FFFFFF;
}
.meuTitulo{
    color: #000000;
    text-align: center;
    font-size: 3rem;
}
/*.calculadora{
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100vh;
    width: fit-content;
}*/
.display{
    width: 100%;
    text-align:  center;
    font-size: 1.875rem;
    
}
/*.teclado{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}*/
.teclado{
    justify-content: center;
    width: 20%;
    background: #e5e5e5; /*Cinza pouco escuro para fundo da tela*/
    display: flex; /*Elementos alinhados um ao lado do outro*/
    flex-wrap: wrap; /*Quebra automaticamente os elementos de linhas e colunas */
    padding: 5rem 2rem;
}
.digito, .digito-especial, .digito-operacao{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    background: #333333;
    color: #FFFFFF;
    margin: 2% 2%;
}
.digito-operacao{
    background: #FF9201;
    color: #FFFFFF;
}
.digito-especial{
    background: #A5A5A5;
    color: #FFFFFF;
}